body {
    background-color: firebrick;
    color: azure;
    text-transform: uppercase;
}

div.desc,
div.ingredients {
    width: 500px;
}

div.steps {
    width: 800px;
    height: auto;
    display: inline-block;
    float: right;
    margin-block-start: -900px;
}