body {
    text-align: center;
    text-transform: uppercase;
    background-color: azure;
    color: black;
}

ul {
    list-style: none;
}

li {
    font-weight: 700;
    box-sizing: border-box;
    border: 10px solid black;
    width: auto;
}


ul img {
    height: 175px;
}

p.Description {
    text-transform: lowercase;
    font-size: smaller;
    font-weight: normal;
}
