body {
    text-align: center;
    text-transform: uppercase;
    background-color: firebrick;
    color: azure;
}

ul {
    list-style: none;
}

li {
    text-align: center;
    font-weight: 700;
}


ul img {
    height: 175px;
}

p.Description {
    text-transform: lowercase;
    font-size: smaller;
    font-weight: normal;
}

li {
    box-sizing: border-box;
    border: 10px solid black;
}